.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.input-div {
  margin-bottom: 10px;
  padding: 5px;
}

label {
  padding-right: 10px;
}

button {
  padding: 5px 10px;
  margin-right: 10px;
}

#result {
  
  padding: 10px;
}